In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_excel('C:/Users/trid8/Downloads/Life_Expectancy.xlsx')
X = dataset.iloc[:, 3:5].values
y = dataset.iloc[:, 2:4].values

In [3]:
dataset.head()

,Country,Status,Adult_Mortality,Infant_Deaths,Hepatitis,Measles,BMI,Underfive_Deaths,Polio,Diphtheria,HIV,GDP,Population,Malnourished10_19,Malnourished5_9,Income_Index,Schooling,Expected
0,Afghanistan,Developing,263,62,65,1154,19.1,83,6,65,0.1,584.259210,33736494,17.2,17.3,0.479,10.1,65.0
1,Albania,Developing,8,0,98,0,57.2,1,98,98,0.1,4575.763787,288914,1.2,1.3,0.761,14.2,77.5
2,Algeria,Developing,19,21,95,63,59.5,24,95,95,0.1,4132.762920,39871528,6.0,5.8,0.743,14.4,75.6
3,Angola,Developing,335,66,64,118,23.3,98,7,64,1.9,3695.793748,2785935,8.3,8.2,0.531,11.4,52.4
4,Argentina,Developing,116,8,94,0,62.8,9,93,94,0.1,13467.123600,43417765,1.0,0.9,0.826,17.3,76.3

In [4]:
X[:,]
print(X)

[[ 62  65]
 [  0  98]
 [ 21  95]
 [ 66  64]
 [  8  94]
 [  1  94]
 [  1  93]
 [  0  93]
 [  5  96]
 [  0  98]
 [ 92  97]
 [  0  97]
 [  0  99]
 [  0  98]
 [  0  94]
 [ 25  82]
 [  0  99]
 [  0  82]
 [  2  95]
 [ 42  96]
 [  0  99]
 [  0  92]
 [ 10  89]
 [  2  55]
 [ 15  47]
 [ 46  46]
 [  2  97]
 [157  99]
 [ 10  91]
 [  1  91]
 [  1  92]
 [  0  94]
 [  1  99]
 [  0  97]
 [  0  66]
 [  6  78]
 [ 51  93]
 [  2  91]
 [  0  91]
 [136  77]
 [  0  99]
 [  0  90]
 [  2  86]
 [  1  94]
 [  2  88]
 [ 37  88]
 [  0  96]
 [ 10  74]
 [ 26  54]
 [ 14   6]
 [  0  17]
 [  0  84]
 [910  87]
 [114  78]
 [ 18  98]
 [ 32  56]
 [  0  95]
 [  0  96]
 [  1  93]
 [  1  91]
 [  2  72]
 [  4  98]
 [ 54  89]
 [  0  99]
 [  1  81]
 [  8  52]
 [  0  94]
 [ 28  69]
 [  4  99]
 [  0  99]
 [ 52  64]
 [  0  97]
 [ 30  82]
 [  1  99]
 [ 17  99]
 [ 39  89]
 [ 17  91]
 [  1  94]
 [  0  92]
 [  2  98]
 [ 49  67]
 [498  46]
 [  0  55]
 [  1  98]
 [  1   8]
 [  2  93]
 [  8   9]
 [ 52   6]
 [ 54  67]
 [  2  96]
 [  0  98]
 [  1  98]
 [  1  88]
 [ 13  97]
 [ 13  97]
 [ 14  97]
 [ 14  97]
 [ 14  97]
 [ 15  97]
 [ 15  98]
 [ 16  98]
 [ 16  98]
 [ 17  98]
 [ 18  97]
 [ 19  96]
 [ 20  94]
 [ 20  81]
 [ 21  43]
 [ 22  70]
 [ 11  98]
 [ 12  98]
 [ 12  98]
 [ 13  98]
 [ 14  97]
 [ 16  97]
 [ 17  97]
 [ 18  97]
 [ 20  97]
 [ 22  99]
 [ 24  95]
 [ 26  89]
 [ 29  96]
 [ 31  88]
 [ 33  85]]

In [5]:
print(y[0:,])

[[263  62]
 [  8   0]
 [ 19  21]
 [335  66]
 [116   8]
 [118   1]
 [ 59   1]
 [ 65   0]
 [118   5]
 [ 69   0]
 [129  92]
 [ 98   0]
 [196   0]
 [ 74   0]
 [175   0]
 [249  25]
 [211   0]
 [ 88   0]
 [256   2]
 [142  42]
 [ 78   0]
 [137   0]
 [174  10]
 [ 64   2]
 [397  15]
 [356  46]
 [ 82   2]
 [ 85 157]
 [143  10]
 [227   1]
 [ 95   1]
 [ 95   0]
 [ 92   1]
 [ 52   0]
 [ 71   0]
 [118   6]
 [159  51]
 [178   2]
 [119   0]
 [225 136]
 [188   0]
 [ 76   0]
 [ 78   2]
 [129   1]
 [ 68   2]
 [249  37]
 [ 72   0]
 [186  10]
 [284  26]
 [ 24  14]
 [134   0]
 [ 49   0]
 [181 910]
 [176 114]
 [ 83  18]
 [182  32]
 [ 64   0]
 [ 58   0]
 [ 56   1]
 [125   1]
 [ 55   2]
 [198   4]
 [249  54]
 [ 81   0]
 [ 98   1]
 [259   8]
 [ 63   0]
 [ 22  28]
 [123   4]
 [ 61   0]
 [266  52]
 [146   0]
 [122  30]
 [222   1]
 [ 95  17]
 [199  39]
 [165  17]
 [ 57   1]
 [ 66   0]
 [145   2]
 [227  49]
 [367 498]
 [ 61   0]
 [ 12   1]
 [119   1]
 [146   2]
 [123   8]
 [211  52]
 [214  54]
 [117   2]
 [ 76   0]
 [ 64   1]
 [157   1]
 [222  13]
 [225  13]
 [229  14]
 [237  14]
 [242  14]
 [256  15]
 [261  15]
 [278  16]
 [282  16]
 [  3  17]
 [327  18]
 [321  19]
 [322  20]
 [313  20]
 [ 38  21]
 [ 37  22]
 [227  11]
 [ 23  12]
 [233  12]
 [239  13]
 [247  14]
 [ 26  16]
 [288  17]
 [282  18]
 [295  20]
 [328  22]
 [ 37  24]
 [397  26]
 [ 48  29]
 [415  31]
 [438  33]]

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [7]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
y_pred = regressor.predict(X_test)

In [10]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,y_pred)
print("Mean Squared Error of the model : ", mse)

Mean Squared Error of the model :  3783.669335046544

In [11]:
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
print("Root Mean Squared Error of the model : ", rmse)

Root Mean Squared Error of the model :  61.51153822695823

In [12]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test,y_pred)
print("Mean Absolute Error of the model : ", mae)

Mean Absolute Error of the model :  37.33075296595144

In [13]:
from sklearn import preprocessing

In [14]:
x_array = np.array(dataset.iloc[:, 3].values)
y_array = np.array(dataset.iloc[:, 2].values)

In [25]:
normalized_arrx = preprocessing.normalize([x_array])
print(normalized_arrx)

[[0.05684508 0.         0.01925398 0.0605125  0.00733485 0.00091686
  0.00091686 0.         0.00458428 0.         0.08435076 0.
  0.         0.         0.         0.0229214  0.         0.
  0.00183371 0.03850795 0.         0.         0.00916856 0.00183371
  0.01375284 0.04217538 0.00183371 0.1439464  0.00916856 0.00091686
  0.00091686 0.         0.00091686 0.         0.         0.00550114
  0.04675966 0.00183371 0.         0.12469243 0.         0.
  0.00183371 0.00091686 0.00183371 0.03392367 0.         0.00916856
  0.02383826 0.01283598 0.         0.         0.83433902 0.10452159
  0.01650341 0.02933939 0.         0.         0.00091686 0.00091686
  0.00183371 0.00366742 0.04951023 0.         0.00091686 0.00733485
  0.         0.02567197 0.00366742 0.         0.04767652 0.
  0.02750568 0.00091686 0.01558655 0.03575739 0.01558655 0.00091686
  0.         0.00183371 0.04492595 0.45659432 0.         0.00091686
  0.00091686 0.00183371 0.00733485 0.04767652 0.04951023 0.00183371
  0.         0.00091686 0.00091686 0.01191913 0.01191913 0.01283598
  0.01283598 0.01283598 0.01375284 0.01375284 0.0146697  0.0146697
  0.01558655 0.01650341 0.01742027 0.01833712 0.01833712 0.01925398
  0.02017083 0.01008542 0.01100227 0.01100227 0.01191913 0.01283598
  0.0146697  0.01558655 0.01650341 0.01833712 0.02017083 0.02200455
  0.02383826 0.02658883 0.02842254 0.03025625]]

In [19]:
normalized_arry = preprocessing.normalize([y_array])
print(normalized_arr)

[[0.05684508 0.         0.01925398 0.0605125  0.00733485 0.00091686
  0.00091686 0.         0.00458428 0.         0.08435076 0.
  0.         0.         0.         0.0229214  0.         0.
  0.00183371 0.03850795 0.         0.         0.00916856 0.00183371
  0.01375284 0.04217538 0.00183371 0.1439464  0.00916856 0.00091686
  0.00091686 0.         0.00091686 0.         0.         0.00550114
  0.04675966 0.00183371 0.         0.12469243 0.         0.
  0.00183371 0.00091686 0.00183371 0.03392367 0.         0.00916856
  0.02383826 0.01283598 0.         0.         0.83433902 0.10452159
  0.01650341 0.02933939 0.         0.         0.00091686 0.00091686
  0.00183371 0.00366742 0.04951023 0.         0.00091686 0.00733485
  0.         0.02567197 0.00366742 0.         0.04767652 0.
  0.02750568 0.00091686 0.01558655 0.03575739 0.01558655 0.00091686
  0.         0.00183371 0.04492595 0.45659432 0.         0.00091686
  0.00091686 0.00183371 0.00733485 0.04767652 0.04951023 0.00183371
  0.         0.00091686 0.00091686 0.01191913 0.01191913 0.01283598
  0.01283598 0.01283598 0.01375284 0.01375284 0.0146697  0.0146697
  0.01558655 0.01650341 0.01742027 0.01833712 0.01833712 0.01925398
  0.02017083 0.01008542 0.01100227 0.01100227 0.01191913 0.01283598
  0.0146697  0.01558655 0.01650341 0.01833712 0.02017083 0.02200455
  0.02383826 0.02658883 0.02842254 0.03025625]]

In [20]:
from sklearn.model_selection import train_test_split
normalized_arrx_train, normalized_arrx_test, normalized_arry_train, normalized_arry_test = train_test_split(X, y, test_size = .2, random_state = 0)

In [21]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(normalized_arrx_train, normalized_arry_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
normalized_arry_pred = regressor.predict(X_test)

In [23]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(normalized_arry_test,normalized_arry_pred)
print("Mean Squared Error of the model : ", mse)

Mean Squared Error of the model :  3783.669335046544

In [24]:
rmse = np.sqrt(mean_squared_error(normalized_arry_test,normalized_arry_pred))
print("Root Mean Squared Error of the model : ", rmse)

Root Mean Squared Error of the model :  61.51153822695823

In [26]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(normalized_arry_test,normalized_arry_pred)
print("Mean Absolute Error of the model : ", mae)

Mean Absolute Error of the model :  37.33075296595144